.top-section{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.headline{
    justify-self: center;
    text-align: center;
    color: rgb(19, 17, 17);
    font-size: 4rem;
    font-weight: 700;
    max-width: 70vw;
    margin: 0px;
    padding: 0px;
}
.tagline{
    color: darkolivegreen;
    font-size: 1rem;
    max-width: 70vw;
    font-weight: 400;
    margin-top: 0.4rem;
}