.top-section{
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 3;
}
.top-bg{
    z-index: 11;
    display: flex;
    flex-direction: row;
    margin-top: -9px;
    margin-left: -8px;
    height: fit-content;
    width: fit-content;
}
.color{
    width: 20vw;
    height: 130vh;
    z-index: -12;
    opacity: 0.6;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.violet{
    background-color: violet;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.white{
    color: white;
}
.grey{
    color: #bbbbbb;
}



@media (max-width: 768px) {
    .headline{
        font-size: 2.3rem;
        max-width: 90vw;
    }
    .tagline{
        font-size: 0.9rem;
        max-width: 80vw;
    }
    .green{
        display: none;
        
    }
    .color{
        width: 25vw;
        height: 140vh;
    }
    .top-section{
        height: fit-content;
    }
}